.html{
    background-color: coral;
}

/* Estilo para el formulario */
#form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
}

/* Estilo para los campos de entrada */
input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Estilo para el botón "Guardar" */
#guardar-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

/* Estilo para el botón "Guardar" al pasar el mouse por encima */
#guardar-btn:hover {
    background-color: #0056b3;
}

/* Estilo para la tabla */
table {
    width: 70%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-top: 20px;
}

/* Estilo para las celdas de encabezado */
th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Estilo para las celdas de datos */
td {
    border: 1px solid #ddd;
    padding: 8px;
}


